.sound-collapse-container{
    background: rgba(0, 0, 0, 0.30);
    border-radius: 5px;
    .ant-collapse-header{
        padding: 9px 7px !important;
        align-items: center;
        .ant-collapse-header-text{
            color: #FFF;
            font-family: "Inter";
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }
    .ant-collapse-content{
        .ant-collapse-content-box{
            padding: 17px 10px;
            padding-top: 5px;
            .sound-collapse-content{
                .model-upload{
                    .ant-upload{
                        width: 100% !important;
                        height: 100% !important;
                        border: none !important;
                        border-radius: 8px !important;
                        margin: 0;
                        padding: 0;
                        .ant-upload{
                            width: 100%;
                        }
                    }
                }
                .sound-info{
                    border-radius: 5px;
                    background: rgba(0, 0, 0, 0.40);

                    padding-top: 50px;
                    padding-bottom: 50px;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .text-drag-drop{
                        color: #FFF;
                        text-align: center;
                        font-family: "Inter";
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }
                    .text-upload{
                        color: #FFF;
                        text-align: center;
                        font-family: "Inter";
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: normal;
                    }
                    .text-accept{
                        color: #FFF;
                        font-family: "Inter";
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }
                }
            }
        }
    }
}