.carts-table{
    .ant-table{
        border-radius: 0;
        
        background: transparent;
        .ant-table-container{
            .ant-table-content{
                width: 100%;
                overflow-x: auto;
                table{
                    .ant-table-thead{
                        .ant-table-cell{
                            background: transparent;
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 15px;
                            color: #8E8E8E;
                            border-bottom: none;
                            padding-bottom: 5px;
                            border-radius: 0;
                            &::before{
                                display: none;
                            }
                            &:first-child{
                                padding-left: 12px;
                            }
                            &:last-child{
                                padding-right: 4px;
                            }
                        }
                    }
                    .ant-table-tbody{
                        .ant-table-cell{
                            padding: 14px;
                            border-bottom: none;
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 15px;
                            color: var(--normal-text-color);
                            &.ant-table-cell-row-hover{
                                background: var(--card-normal-background) ;
                                // cursor: pointer;
                            }
                            &:first-child{
                                padding-left: 12px;
                            }
                            &:last-child{
                                padding-right: 4px;
                            }
                        }
                        .btn-action{
                            width: 36px;
                            height: 36px;
                            background: var(--card-normal-background) ;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 4px;
                            img{
                                filter: var(--svg-filter-invert);
                            }
                        }
                    }
                }
            }
        }
    }
    .ant-pagination{
        padding-left: 14px;
        padding-right: 14px;
        .ant-pagination-item, .ant-pagination-prev, .ant-pagination-next{
            a{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                color: var(--normal-text-color);
            }
            &.ant-pagination-item-active{
                font-weight: 600;
                background-color: var(--antd-pagination-background);
                border-color: transparent;
            }
        }
        .ant-pagination-item-ellipsis{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            color: var(--normal-text-color) !important;
        }
    }
    .ant-table-empty{
        .ant-table-placeholder{
            background: var(--card-normal-background)  !important;
            height: 300px;
            .empty-container{
                margin: 32px;
                font-size: 14px;
            }
            &:hover{
                .ant-table-cell{
                    background: var(--card-normal-background)  !important;
                }
            }
        }
    }
}