.file-uploader{
    height: 100%;
    .ant-upload.ant-upload-select{
        width: 100% !important;
        height: 100% !important;

        background: var(--control-background)  !important;
        border: none !important;
        border-radius: 8px !important;

        .upload-button{
            padding: 18px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            .text-upload{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: var(--normal-text-color);
            }
            .text-add-3d-model{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                color: var(--normal-text-color);
            }
        }
    }
    .preview-upload-image{
        padding: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        .file-name{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: var(--normal-text-color);
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}