.dashboard-sidebar-container{
    position: sticky !important;
    top: 0;
    background: var(--theme-back-ground) !important;
    height: 100vh;
    overflow-y: auto;
    border-right: var(--border-2);
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display: none;
    }
    .ant-menu-item{
        text-align: left;
        &.ant-menu-item-disabled{
            cursor: pointer;
        }
    }
    .online-store-button{
        position: relative;
        background-color: var(--online-button-background);
        background-image: url("../../assets/images/btn-showroom-bg.png");
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 76% auto;
        padding: 24px;
        text-align: left;
        height: 250px;
        border-radius: 12px;
        transition: all 0.2s linear;
        &:hover{
            cursor: pointer;
            background-size: 66% auto;
            .text-showroom-container{
                .text-showroom{
                    background-position: 0;
                }
            }
            .showroom-arrow{
                left: 24px;
                opacity: 1;
                filter: var(--svg-filter-invert);
            }
        }
        .showroom-arrow{
            position: absolute;
            bottom: 24px;
            width: 60px;
            left: 0px;
            opacity: 0;
            transition: all 0.2s linear;
        }
        .text-showroom-container{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 120%;
            color: var(--normal-text-color);
            text-align: left;
            max-width: 60%;
            overflow: hidden;
            text-overflow: ellipsis;
            .text-showroom{
                font-weight: 500;
                background-image: var(--online-button-showroom-gradient);
                background-size: 200%;
                transition: all 0.2s linear;
                background-repeat: no-repeat;
                background-clip: text;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent;
                -moz-text-fill-color: transparent;
                background-position: 100%;
            }
        }
    }
    .online-store-button-mobile{
        position: relative;
        background-color: var(--online-button-background);
        background-image: url("../../assets/images/btn-showroom-bg.png");
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 74% auto;

        padding: 5px;

        text-align: left;
        height: 70px;
        width: 70px;
        border-radius: 4px;
        transition: all 0.2s linear;

        line-height: 6px;
        &:hover{
            cursor: pointer;
            background-size: 60% auto;
            .text-showroom-container{
                .text-showroom{
                    background-position: 0;
                }
            }
            .showroom-arrow{
                left: 5px;
                opacity: 1;
                filter: var(--svg-filter-invert);
            }
        }
        .showroom-arrow{
            position: absolute;
            bottom: 8px;
            width: 15px;
            left: 0px;
            opacity: 0;
            transition: all 0.2s linear;
        }
        .text-showroom-container{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 6px;
            line-height: 6px;

            color: var(--normal-text-color);
            text-align: left;
            max-width: 60%;
            overflow: hidden;
            text-overflow: ellipsis;

            .text-showroom{
                font-weight: 500;
                background-image: var(--online-button-showroom-gradient);
                background-size: 200%;
                transition: all 0.2s linear;
                background-repeat: no-repeat;
                background-clip: text;
                -webkit-background-clip: text;
                -moz-background-clip: text;
                -webkit-text-fill-color: transparent;
                -moz-text-fill-color: transparent;
                background-position: 100%;
            }
        }
    }
    .tutorial-button{
        display: flex;
        gap: 12px;
        align-items: center;
        cursor: pointer;
        background: var(--tutorial-button-background);
        border-radius: 4px;
        padding: 4px;
        img{
            filter: var(--svg-filter-invert);
        }
        .tutorial-div-container{
            text-align: left;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 120%;
            color: var(--normal-text-color);

            .text-title{
                font-weight: 600;
                color: #00F6FF;
            }
        }
    }
    .tutorial-button-collapse{
        padding: 8px;
        border-radius: 4px;
        background: var(--tutorial-button-collapse-background);
        img{
            filter: var(--svg-filter-invert);
        }
    }
    .avatar-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .avatar-name{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: var(--normal-text-color);
            max-width: 60%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .avatar-edit-profile{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #8E8E8E;
        }
    }
    .dashboard-sidebar-toggle{
        height: 64.5px;
        border-bottom: 1px solid transparent;
        display: flex;
        justify-content: end;
        align-items: center;
        .btn-toggle{
            display: inline-flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            position: relative;
            box-sizing: border-box;
            -webkit-tap-highlight-color: transparent;
            background-color: transparent;
            outline: 0px;
            border: 0px;
            cursor: pointer;
            user-select: none;
            vertical-align: middle;
            appearance: none;
            text-decoration: none;
            text-align: center;
            flex: 0 0 auto;
            border-radius: 50%;
            overflow: visible;
            // color: rgba(0, 0, 0, 0.54);
            transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            padding: 12px;
            font-size: 1.75rem;
            margin-right: 12px;
            img{
                width: 24px;
                height: 24px;
                filter: var(--svg-filter-invert);
            }
            &:hover{
                background-color: rgba(0, 0, 0, 0.04);
            }
        }
    }
    .dashboard-sidebar-content{
        background: var(--theme-back-ground);
        padding-left: 24px;
        padding-right: 24px;
        .ant-menu-item-selected{
            .title{
                background-color: rgba(0, 0, 0, 0.06);
                color: rgba(255, 255, 255, 0.88);
                font-weight: bold;
            }
        }
        .title{
            margin: 0px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #8E8E8E;
            display: block;
        }
        .barges{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: var(--normal-text-color);
            background: linear-gradient(90deg, #00F6FF 0%, #AB00FF 100%);

            padding: 0 3px;
            border-radius: 3px;
        }
        .ant-menu-item{
            margin-top: 8px;
            height: 32px;
            &.ant-menu-item-active{
                border-left: solid 2px #FFFFFF;
                border-radius: 0 8px 8px 0;
                .title{
                    color: var(--normal-text-color);
                }
                .dashboard-sidebar-icon{
                    filter: brightness(0) invert(1);
                }
            }
        }
    }
    .dashboard-sidebar-footer{
        border-top: 1px solid transparent !important;
        background: var(--theme-back-ground);
        padding-left: 24px;
        padding-right: 24px;
        .ant-menu-item-selected{
            .title{
                background-color: rgba(0, 0, 0, 0.06);
                color: rgba(255, 255, 255, 0.88);
            }
        }
        .title{
            margin: 0px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #8E8E8E;
            display: block;
        }
        .value{
            margin: 0px;
            font-family: Roboto, Helvetica, Arial, sans-serif;
            font-weight: 400;
            font-size: 0.875rem;
            line-height: 1.43;
            letter-spacing: 0.01071em;
            color: rgba(0, 0, 0, 0.6);
            display: block;
        }
        .ant-menu-item{
            &.ant-menu-item-active{
                border-left: solid 2px #FFFFFF;
                border-radius: 0 8px 8px 0;
                .title{
                    color: var(--normal-text-color);
                }
                .dashboard-sidebar-icon{
                    filter: brightness(0) invert(1);
                }
            }
        }
    }
}
.dashboard-sidebar-icon{
    width: 16px !important;
    height: 16px !important;
}

.site-layout{
    .site-layout-content{
        background: var(--theme-back-ground);
    }
}

@media screen and (max-width: 767px){
    .dashboard-sidebar-container{
        position: absolute !important;
        height: 100% !important;
        border-right: none;
    }
}